/* obnulenie style */
* {
    margin: 0;
    padding: 0;
}

/* .wrapper {
    display: flex;
    flex-direction: column;
}  */

/* .bgn-image {
    position: relative;
    overflow: hidden;
    height: 1000px;
} */

.image-slider {
    position: relative;
    height: 1000px;
    overflow: hidden;
}

.swiper-slide {
    text-align: center; 
}

.swiper-slide img {
    position: absolute;
    display: flex;
    max-width: 100%;
    height: auto;
}

.container-header {
    /* display: flex; */
    position: absolute;
    top: 0px;
    z-index: 1;
}

/* NOT WORK! */
/* .image-slider .swiper-pagination {
    display: flex;
    width: 80px;
    height: 80px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #F79489;
    border: 1px solid #F79489;
} */

.container {
    width: 100%;
    /* max-width: 1900px; */
    margin: 0 auto;
}

.interior {
    z-index: 100;
    position: relative;
    margin: 0 auto;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    height: 100%;
    z-index: 100;
}

.hambburger {
    display: none;
  }
  
  .popup {
    display: none;
  }

.header-nav {
    padding-right: 94px;
}

.nav {
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav li {
    font-family: Poppins;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav li a {
    text-decoration: none;
    color: white;
}

.nav li a:visited {
    color: white;
}

.interior-slogan {
    margin-top: 161px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.interior-text {
    margin-top: 40px;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    line-height: 200%;
    color: white;
}

.interior-search {
    display: block; 
    margin: 60px auto 0 auto;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
}

.interior-search::placeholder {
    padding-left: 19px;  
    font-family: "Poppins";
    font-size: 14px;
    color: white;
}

.interior-search:focus {
   outline: none;
}

.search-blok {
    z-index: 100;
    position: relative;
    width: 360px;
    margin: 0 auto;
}

.icon-search{
    position: absolute;
    top: 11px;
    left: 313px;
}

/* =======================================  Slider  ======================================== */

.slider-position {
    position: absolute;
    top: 0;
    left: 0;
}

/* ====================================   pagination   =================================== */

/* NOT WORK! */
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #F79489;
    border: 1px solid #F79489;
}

/* ======================================================================================== */

@media screen and (max-width: 1000px) {

    .wrapper {   
        /* not work */
        max-width: 100%; 
    }

    .logo {
        width: 86px;
        height: 25px;
        left: 20px;
        top: 20px;
    }

    .basket {
        width: 24px;
        height: 24px;
        left: 297px;
        top: 22px;
    }

    .interior-slogan {
        font-size: 18px;
    }
    .interior-text {
        font-size: 12px; 
    }
    .interior-search {
        width: 280px;
        height: 38px;
        border: 1px solid #FFFFFF;
        border-radius: 30px;
    }

    .search-blok {
        width: 280px;
        margin: 0 auto;
    }    
}

/* ==================================   Hamburger Mobile   ========================================= */

@media screen and (max-width: 1000px) {
  
    .hamburger {
      display: flex;
      margin-left: auto;   
    }
  
    .hamburger__field {
      /* padding: 10px 20px; */
      cursor: pointer;
      margin-right: 20px;
    }
  
    .bar {
      display: block;
      width: 20px;
      left: 2px;
      margin: 6px auto;
      transition: 0.2s;
      
      border: 2px solid #FFFFFF;
    }
  
    .popup {
      position: fixed;
      top: 75px;
      /* чтобы скрыть его в right части */
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      /* А чтобы он делал это плавно мы добавили к popup свойство transition: 0.3s. */
      transition: 0.3s;
    }
  
    .popup.open {
      right: 0;
    }
  
    .popup .menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 50px 0;
      overflow: auto;
    }
  
    .popup .menu > li {
      width: 100%;
    }
  
    .popup .menu > li > a {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      font-size: 20px;
      font-weight: bold;
      color: #3f3f3f;
    }
  
    .popup .menu > li > a:hover {
      background-color: rgba(122, 82, 179, 0.1);
    }
  
    /* При нажатии на иконку бургер к попапу добавится класс active и свойство right будет равным 0. 
    То есть наш попап открывается справо.  */
    .hamburger__field.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger__field.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger__field.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    /* Также при вызове popup мы блокируем прокрутку экрана у глобального тега body. 
    Для этого добавляем ему класс body.noscroll со значением overflow: hidden. */

    body.noscroll {
      overflow: hidden;
    }
  }
    

/* 2 ============================================================================================ */

.chooses-header {
    margin-top: 80px;
    margin-bottom: 16px;
    font-family: Poppins;
    font-size: 36px;
    color:  #564E4E;
}

.chooses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    gap: 20px;
}

.chooses-card {
    flex: 0 1 425px;
    padding: 20px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 200%;
    box-sizing: border-box;
}

.chooses-card:hover {
    border: 1px solid #FADCD9;
    box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
    border-radius: 10px;
}

.card-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:  #FAF5F2;
}

.chooses-card-header {
    font-weight: bold;
    margin-top: 10px;
}

.chooses-card-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.chooses-card-link {
    text-decoration: none;
    color: #F79489;
}

@media screen and (max-width: 1000px) {

    .information-container {
        flex-direction: column-reverse;
    }

    .chooses-header {
        display: none;
    }
    .chooses {
        flex-direction: column;
    } 
    .chooses-card { 
        flex-basis: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .card-icon-circle {
        width: 28px;
        height: 28px;
    }
}  

/* 3  ==================================================================================== */

.information-container {
    display: flex;
    justify-content: space-between;
    white-space: normal;
    margin-top: 200px;
}

.inf-card {
    width: 48%;
    margin-left: 80px; 
    margin-right: 18px;
    padding: 20px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 200%;
    box-sizing: border-box;
}

.inf-header {
    font-family: Poppins;
    font-size: 36px;
    color:  #564E4E;
    padding-bottom: 20px;
}

.inf-description-container {
    display: flex;
    justify-content: space-between;
}

.inf-text {
    font-family: Poppins;
    padding-bottom: 20px;
}

.information-tex {
    /* not work! */
    padding-bottom: 40px;
}

.inf-text-icon {
    padding-right: 92px;
    color: #F79489;
}

.inf-image {
    height: auto;
    width: 48%;
}

.inf-image img {
    height: auto;
    max-width: 870px;
    width: 100%;
    border-radius: 60px 60px 0px 60px;
    margin-right: 65px;
}

@media screen and (max-width: 1000px) {

    .inf-image {
        width: 48%;
        padding-bottom: 100px;
        padding-left: 14.22px;
        padding-right: 14.22px;
    }

    .inf-card {
        padding-left: 20px;
        font-size: 12px;
    }

    .inf-header {
        font-size: 18px;
        padding-left: 20px;
    }  
}

/*  4 ===================================================================================== */

.chooses-header {
    margin-top: 200px;
    margin-bottom: 40px;
    font-family: Poppins;
    text-align: center;
    color:  #564E4E;
}

.product-inf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    gap: 20px;
}

.product-card {
    flex: 0 1 425px;
    padding: 20px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 200%;
    box-sizing: border-box;
}

.product-image {
    display: flex;
    justify-content: center;
}

.product-image img {
    max-width: 100%;
}
 

.product-card:hover {
    background-color:  #F6F6F6;
}

.hooses-card-header {
    font-size: 18px;
}

.chooses-card-text { 
    font-size: 14px;
    line-height: 200%;
    color: #C4C4C4;
}

.yellow-stars {
    color: #DFB300;
}

@media screen and (max-width: 1000px) {

   .product-inf {
         display: grid;
         grid-template-areas: 
         "card1"
         "card2"
         "card3"
         "card4";
         grid-template-columns: 2fr 2fr;

   }
   .chooses-header {
        height: 36px;
        display: flex;
        margin-left: 109px;
   }
}

/*  5 ========================================================================================== */

.review-box {
    background: linear-gradient(279.85deg, #FFFFFF 0%, #FAF5F2 100%);
}

.center {
    margin: 0 auto;
    width: 100%;
    max-width: 1760px;
}

.review-box > div > .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #564E4E;
    text-align: center;
    padding-top: 84px;
}

.review {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    margin: 110px 80px 0 80px;
    padding-bottom: 248px;
}

.review__item {
    margin: 0 35px;
}

.review__item > .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #564E4E;
    line-height: 48px;
}

.review__item > .description {
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #564E4E;
}

.review-user-box {
    margin-top: 12px;
    display: flex;
    justify-content: start;
}

.review-user-box__left img{
    border-radius: 30px;
}

.review-user-box__right {
    margin-left: 10px;
}

.review-user-box__right .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #564E4E;
}

.review-user-box__right .description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #564E4E;
}

@media screen and (max-width: 1000px) {

    .review  {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .review__item {
        margin: 0 28px;
        padding-bottom: 40px;
    }

    .review-box > div > .title {
        font-size: 18px;
        padding-top: 40px;
    }

    .review__item > .title {
        font-size: 14px;
        line-height: 28px;
    }

    .review__item > .description {
        font-size: 12px;
    }
    
    .review-user-box {
        margin-top: 14px;
    }

    .review-user-box__right .title {
        font-size: 14px;
        line-height: 28px; 
    }
 }

/*  6 ============================================================================================= */

.inf-image-left img {
    max-width: 870px;
    width: 100%;
    height: auto;
    border-radius: 60px 60px 60px 0px;
    /* margin-top: 211px; */
}

.inf-card {
    margin-left: 65px;
}

.inf-header {
    /* margin-top: 200px; */
    margin-bottom: 20px;
}

.inf-search-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
    padding-left: 20px;
    margin-top: 40px;
    width: 60%;
    height: 60px;
    background: #FEFCFB;
    border: 1px solid #FADCD9;
    border-radius: 30px;
}

.box-search {
    border: none;
    font-size: 14px;
    width: 340px;
    color: #F79489;
    font-family: "Poppins";
}

.box-search:focus {
    outline: none;
}


.box-search::placeholder {
    font-family: "Poppins";
    font-size: 14px;
    color: #F79489;
}

.contact {
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {

    .information-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .inf-image-left img {
        max-width: 48%;
        border-radius: 20px 20px 0px 20px;
        margin-right: 14px;
        margin-left: 14px;
    }
    .inf-card {
        width: 48%;
    }
 }

/*  7 ======================================================================================= */

.bgn-footer {
    padding-top: 100px;
    margin-top: 200px;
    background: linear-gradient(275.58deg, #000000 0%, #4B4B4B 100%);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-box {
    font-family: 'Poppins';
    padding: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.footer-header {
    padding-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FADCD9;
}

.footer-inf {
    outline: none;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.footer-inf-link {
    padding-bottom: 24px;
    list-style: none;
}

.footer-inf-link a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-inf-link a:visited {
    color: #FFFFFF;
}

.inf-footer {
    text-decoration: none;
    /* padding-top: 197px; */
    padding-bottom: 40px;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {

    .bgn-footer {
        /* display: flex; */
        margin-top: 100px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        left: 20px;
    }

    .footer-logo {
        width: 124px;
        height: 36px;
        padding-left: 20px;
        padding-bottom: 40px;
    }

    .footer-box {
        font-size: 12px;
    }

    .footer-header {
        font-size: 14px;
    }

    .inf-footer {
        font-size: 12px;
        padding-top: 100px;
        padding-bottom: 28px;
    }
 }
